.thank-you-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(150deg, #0080ff, #e2e2e2);
  color: #333;
  text-align: center;
  position: relative;
}

.thank-you-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.thank-you-message {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
}

.thank-you-submessage {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin-top: 10px;
}