.countdown-container {
    display: flex;
    gap: 16px;
    margin: auto;
    justify-content: center;
}

.countdown-container span {
    font-size: 2em;
    font-weight: 700;
    color: var(--primary-color);
}

.countdown-timer {
    margin-top: 40px;
}

.countdown-timer-title {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--primary-color);
  }

  @media (min-width: 768px) {
    .countdown-container {
      gap: 32px;
    }
  
    .countdown-container span {
      font-size: 3em;
    }
  
    .countdown-timer-title {
      font-size: 2em;
    }
    
  }