/* src/components/RSVPContainer.css */

.rsvp-container {
    margin: auto;
    width: 100%;
    text-align: center;
    background-image: url('/public/fifth.jpg');
  }
  .rsvp-container-title {
    display: none;
  }
  
  
  /* Responsive Design */
  @media (min-width: 768px) {
    .rsvp-container {
      padding-top: 40px;
      width: 100%;
    }
    .rsvp-container-title {
      display: block;
      font-size: 3em;
    }
  }