/* src/components/WelcomeContainer.css */

/* Mobile-first styles */
.welcome-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.welcome-content-sub-title {
  font-family: var(--heading-font-family);
  font-style: var(--heading-font-style);
  font-size: 2em; /* Smaller font size for mobile */
}

.welcome-content-main-title {
  font-family: var(--heading-font-family);
  font-style: var(--heading-font-style);
  font-size: 2.5em;
  margin-top: 40px;
  letter-spacing: 0.1em;
}

.welcome-content-date {
  font-family: var(--heading-font-family);
  font-style: var(--heading-font-style);
  font-size: 2.5em; /* Smaller font size for mobile */
}
  
@media (min-width: 768px) {
  .welcome-content-main-title {
    font-size: 8em;
  }
}